

@{ Layout = "~/Views/Shared/_Layout.cshtml"; }


<div class="container">
    <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title"></div>
            </div>
            <div style="padding-top:30px" class="panel-body">
                <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>

                <h3>Password has been reset...</h3>

            </div>
        </div>
    </div>
</div>