@model WebUI.Models.Member.MemberViewModel

@{
    ViewData["Title"] = "Password Change Page";
}

<div class="row" style="margin-top:10px;">
    <div class="col-md-3">
        @await Component.InvokeAsync("MemberMenu")
    </div>
    <div class="col-md-9">
        <div class="container">
            <div id="loginbox" style="margin-top:10px;" class="mainbox col-md-6">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <div class="panel-title">Change Password</div>
                    </div>
                    <div style="padding-top:30px" class="panel-body">
                        <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>

                        <form asp-controller="Member" asp-action="PasswordChange" method="post" class="form-horizontal" role="form">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                            <div style="margin-bottom: 25px" class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                <input asp-for="userForChangePasswordDto.PasswordOld" class="form-control" placeholder="Password Old">

                            </div>

                            <div style="margin-bottom: 25px" class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                <input asp-for="userForChangePasswordDto.PasswordNew" class="form-control" placeholder="Password New">

                            </div>

                            <div style="margin-bottom: 25px" class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                <input asp-for="userForChangePasswordDto.ConfirmPassword" class="form-control" placeholder="Confirm Password">

                            </div>





                            <div style="margin-top:10px" class="form-group">
                                <!-- Button -->
                                <div class="col-sm-12 controls">
                                    <input type="submit" class="btn btn-success" value="Change">
                                </div>
                            </div>


                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
