
@model WebUI.Models.Member.RoleAssignViewModel

@{
    ViewData["Title"] = "Role Assign";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}






<div class="container">
    <div class="row">
        <form asp-controller="Admin" asp-action="RoleAssign" method="post" class="form-horizontal" role="form">



            @for (int i = 0; i < Model.Roles.Count; i++)
            {
            <div style="margin-bottom: 10px" class="form-check">

                <input asp-for="@Model.Roles[i].IsChecked" type="checkbox" class="form-check-input" />
                <label asp-for=@Model.Roles[i].RoleId>@Model.Roles[i].RoleName</label>
                <input asp-for="@Model.Roles[i].RoleName" type="hidden" />
                <input asp-for="@Model.Roles[i].RoleId" type="hidden" />
            </div>

            }








            <input asp-for="UserId" type="hidden" />

            <div style="margin-top:10px" class="form-group">
                <!-- Button -->
                <div class="col-sm-12 controls">
                    <input type="submit" class="btn btn-success" value="Update">
                </div>
            </div>


        </form>


    </div>
</div>
